#reg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  .reg-form__wrap {
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    .reg-form__actions {
      .el-button {
        display: block;
        width: 100%;
        & + .el-button {
          margin: 10px 0 0;
        }
      }
    }
  }
}
