#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  .login-form__wrap {
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 24px;
    }
    .el-form {
      margin-top: 15px;
    }
    .el-button {
      display: block !important;
      width: 100%;
      & + .el-button {
        margin: 10px 0 0;
      }
    }
  }
}
